.banner {
  height: 50vh;
  position: relative;
  background: url('../assets/banner.jpg') -280px -850px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-top: 20px;
}
.banner__info{
    background-color: black;
    color: white;
    padding:10vh 50px 40px 50px;
    width: 400px;
    height: 34.7vh;
}
.banner__info > button{
    background-color: #FF5A5F;
    color: white;
    text-transform: inherit;
}